:root{
    --primary: #124944;
    --light: #11698e;
    --secondary: #19456b;
    --thrid: #16c79a;
}

body{
    overflow: hidden;
    font-weight: 300;
    color: var(--primary);
}

.bg-primary{
    background-color: var(--primary) !important;
}

#sidebar-container{
    min-height: 100vh;
}

#sidebar-container .logo{
    padding: .875rem 1.25rem;
}

#sidebar-container .menu{
    width: 18rem;
}

.navbar-user-img{
    border-radius: 50%;
    width: 34px;
    height: 34px;
    box-shadow:0 0 5px 2px rgba(0,0,0,.1);
    display:inline-block;
    vertical-align:middle
}
.img-circle{
    border-radius: 50%;
}

#content{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.stat{
    border-right: 1px solid lightcyan;
}
